
*{
    margin:0;
    padding:0;
}

#cabecalho {
    background-color: #0B3954;
    color:white;
    display:flex;
    height: 70px;
}

#cabecalho h2 {
    margin-left: 45px;
    font-size: 28px;
    padding-top:15px;
}

.links-cabecalho {
color:white;
text-decoration: none;
margin-top: 20px;
margin-left: 550px;
}

.links-cabecalho span {
font-size: 25px;
margin-right: 5px;
}

.links-cabecalho span a {
    color:white;
    text-decoration:none;
    
}

.links-cabecalho span a:hover {
    border-bottom: 1px solid white;
}

#banner-info {
    width: 100%;
    background-image: url(img/notebook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-info h1 {
    color: white;
    margin: 0 auto;
    background-color: #0B3954;
    width: 700px;
}

#banner-info img {
    height: 300px;
    border-radius: 150px;
    padding-top: 20px;
    margin-left:530px;
    
}

#banner-info p {
    color:white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#sobre-mim {
    background-color: #0B3954;
    text-align: center;
    color: #FFF;
    padding-top: 50px;
    height: 350px;
}

#sobre-mim h2 {
    margin-bottom: 40px;
}

#sobre-mim p {

    width: 600px;
    margin: 0 auto;
    text-align: justify;
}

.container {
    background-color: lightblue;
    display: flex;
    width: 80%;
    margin : -55px auto 50px;
    border-radius: 50px;
}

.containers {
    width: calc(100% / 3);
    text-align: center;
    padding: 50px;
}

.central {
    border-left: 1px solid #0B3954;
    border-right: 1px solid #0B3954;
}

.imag {
    width: 80px;    
}

.job-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#jobs h2 {
    text-align: center;
    padding: 10px;
    background-color: #0B3954;
    color: white;
}

#jobs p {
    text-align: center;
    padding: 20px;
}

.job-box h3 {
    padding: 20px 0px;
}

.job-box h4 {
    padding:10px 0px;
}

.proj1, .proj2 {
    width:50%;
}

.fotos-projetos {
    width: 300px;
    height: 300px;
}

#contato {
    height: 650px;
    background-color: #0B3954;
    text-align: center;
    color: white;
}

#contato h2 {
    padding: 50px;
    font-size: 35px;
}

#contato img {
    width: 60px;
    padding: 25px;
    margin-left: 35px;
}

#contato p {
    margin-left: 35px;
    font-size: 20px;
}

#contato form {
    width: 400px;
    margin: 0 auto;
}

#contato form input {
    display: block;
    margin: 15px;
    width: 100%;
    height: 40px;
    box-sizing: border-box; 
}

#contato form textarea {
    display: block;
    margin: 15px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.msg-final {
    padding: 20px;
}

